.login-button {
  background-color: #f8fafc;
  color: #303150;
  font-size: 15px;
  font-family: 'Roboto';
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 90px;
}
@media screen and (max-width: 768px) {
  .login-button {
    height: 25px;
    width: 70px;
    font-size: 13px;
  }
}
